input{
font-size: 20px;
display: block;
}
body{
    overflow: hidden;
} 
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -4%;
    font-size: 1cm;
}
input{
    margin-bottom: 10px;
    border-color: black;
    border-width: 1.5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.container {
    width:100vw;
    height:100vh;
    position:absolute;
    top:30%;
    left:47.5%;
    margin-top:-100px;
    margin-left:-100px;
    align-items: center;
}
.alinhamento{
    margin-left: 1%;
}
#iniciar{
    margin-left: 13vh;
    padding-right: 30px;
    padding-left: 30px;
}
#resultados{
    margin-left: 10vh;
    padding-right: 25px;
    padding-left: 25px;
}
#buscaSujeito{
    margin-left: 10vh;
    padding-right: 40px;
    padding-left: 40px;
}

#config{
    margin-left: 8vh;
    padding-right: 25px;
    padding-left: 25px;
}