#opA{
    background-color: black;
    color: white;
    margin-right: 17.5%;

}

#opB{
    background-color: black;
    color: white;
}

.botao{
    padding: 5%;
    font-size: 30;
    font-weight: bold;
    border-radius: 100%;
    border-width: 3px;
    border-color: black;
}

.container {
    width:100vw;
    height:100vh;
    position:absolute;
    top:50%;
    left:35%;
    margin-top:-100px;
    margin-left:-100px;

    }

    .container2 {
        width:100vw;
        height:100vh;
        position:absolute;
        top:50%;
        left:65%;
        margin-top:-100px;
        margin-left:-100px;
    
        }