<html>
	<head>
		<title>Espera</title>
		<link rel="stylesheet" type="text/css" href="css/aguarde.css">

	</head>
	<body>
		<div>
			
			<form action = '/continua' method='GET'>

					
						<output> aguarde </output>
					
					
					
			</form>
	</div>
	</sript>
    </body>
    </html>