<html>
	<head>
		<title>Espera</title>
		<link rel="stylesheet" type="text/css" href="css/aguarde.css">

	</head>

	<body>
		<div>
			
			<form action = '/continuar' name="continuar" method='GET'>

				<output> aguarde </output>
						
			</form>
		
		</div>
	</body>
	
</html>

<script>
	setTimeout(function(){  
		document.continuar.submit();
		console.log("<%=ITI%>");
	}, "<%= ITI %>");


</script>