<html>
        
	<head>
		<title>Cadastro do Sujeito</title>
		<link rel="stylesheet" type="text/css" href="css/cadastro.css">

	</head>
<div class="container">		

        <head>
                        <form autocomplete="off" action='/buscaExp' method='POST'>
                                <h2><input type="submit" id="resultados" value="Resultados" name="HOME"></input></h2>
                        </form>

                        <form autocomplete="off" action='/buscaSujeito' method='POST'>
                                <h2><input type="submit" id="buscaSujeito" value="Sujeitos" name="buscaSujeitos"></input></h2>
                        </form>

                        <form autocomplete="off" action='/config' method='POST'>
                                <h2><input type="submit" id="config" value="Configurações" name="config"></input></h2>	

                        </form>

                

                
        </head>
      
        <body>
                            
                        <form action = '/cadastrar' method= 'post' id="formCadastro">
                        <div class="alinhamento">
                        <h1>Cadastro do Sujeito</h1>
                        <input  name="nome" placeholder="Nome do Sujeito"  class="cadastro" required></input>
                        <input  name="idade" placeholder="Idade do Sujeito"  class="cadastro" required type="number"></input>
                        <input  name="sexo" placeholder="Sexo do Sujeito" class="cadastro" required></input>
                        </div>   
                        <input type="submit" class="condicao" value="Iniciar" name="iniciar" id="iniciar"> </input>
                        </form>
                        
                
                    
        </body>
</div>

</html>


			