<html>
        
	<head>
		<title>Configuracoes</title>
        <link rel="stylesheet" type="text/css" href="css/config.css">
        
        <form autocomplete="off" action='/' method='GET'>	
            <h2><input type="submit" id="resultados" value="Voltar" name="HOME"></input></h2>
        </form>
        <h1>Configurações</h1>  
	</head>
<div class="container">		

        <head>

 
               

                
        </head>
       
        <body>
                        
                        <form action = '/configurar' method= 'post'>
                        <input title="Usar fator" type="checkbox" name="difOn" id="difOn">
                            <input id="label" value="Usar fator">
                         </input>
                        <input  type="number" name="difMin" placeholder="Fator de Diferença (s)"  required></input>
                        <input type="submit" id="definir" class="condicao" value="Definir" name="definir" > </input>
                        </form>
                        
                
                    
        </body>
</div>

</html>