<html>
	<head>
		<title>Espera</title>
		<link rel="stylesheet" type="text/css" href="css/aguarde.css">

	</head>

	<body>
		<div>
			
			<form action = '/sairDescanso' name="continuar" method='GET'>

				<output> Descanso </output>
						
			</form>
		
		</div>
	</body>
	
</html>

