<html>

<head>
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="css/experimento.css">

</head>

<body style="overflow: hidden;">

    <div class="container">
        <form action='/envExpA' method='POST'>
            <button type="submit" class="botao" id="opA">A</button>
        </form>
    </div>

    <div class="container2">
        <form action='/envExpB' method='POST'>
            <button type="submit" class="botao" id="opB">B</button>
        </form>
    </div>

</body>

</html>

