<html>

<head>
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="css/experimento.css">

</head>

<body style="overflow: hidden;">
    <div class="container">

        <form action='/envExp' method='POST'>


            <button type="submit" class="botao" id="opA">A</button>
            <button type="submit" class="botao" id="opB">B</button>

        </form>
    </div>
</body>

</html>