<html>
<head>
    <title>expForc</title>
    <link rel="stylesheet" type="text/css" href="css/experimento.css">

</head>

<body style="overflow: hidden;" onload="random()">

    <audio id="som" preload="auto"  loop>
        <source src="../sounds/<%= som %>" type="audio/mpeg" >
     </audio>

    <div class="container">
        <form id="formA" action='/envExpATeste' method='POST' style="display: none">
            <input name="tempoSom" id="tempoSomA" style="display:none" />
            <button type="submit" onclick="clickA();playA()" class="botao" id="opA" d>A</button>
        </form>
    </div>

    <div class="container2">
        <form id="formB" action='/envExpBTeste' method='POST' style="display: none">
            <input name="tempoSom" id="tempoSomB" style="display:none"/>
            <button type="submit" onclick="clickB();playB()" class="botao" id="opB">B</button>
        </form>
    </div>

    <!-- <form action='/envExpBComp' name="envExpBComp" method='POST'/> -->

</body>

</html>

<script>
	function random(){
		min = Math.ceil(3);
		max = Math.floor(1);
		var preRand = Math.floor(Math.random() * (max - min)) + min;
		var rand = preRand%2;
		console.log(rand);
		if(rand == 0){
			document.getElementById("formA").style.display  = "block";
        }
        if(rand == 1){
            document.getElementById("formB").style.display  = "block";
        }
    }
    
    
    var tempo = 0;

    function clickA() {
        console.log("opA");
        console.log(tempo);
        document.getElementById("opA").style.display  = "none";
        document.getElementById("opB").style.display  = "none";
        document.getElementById("tempoSomA").value = document.getElementById("som").currentTime;
        return apareceA();
    }
    function clickB(){
        console.log("opB");
        console.log(tempo);
        document.getElementById("opA").style.display  = "none";
        document.getElementById("opB").style.display  = "none";
        document.getElementById("tempoSomB").value = document.getElementById("som").currentTime;
        return apareceB();
    }
    function apareceA(){
        setTimeout(function(){  
            document.getElementById("opA").style.display  = "block";
        }, 10 * 1000)
    }
    function apareceB(){
        setTimeout(function(){  
            document.getElementById("opB").style.display  = "block";
        }, "<%= atrasoB %>"  * 1000 + 10 * 1000) 
    }

    function play(){
        var som = document.getElementById('som');
        som.play();
    }

    function playA(){
        setTimeout(function(){  
            play();
        }, 5 * 1000)
    }

    function playB(){
        setTimeout(function(){  
            play();
        }, "<%= atrasoB %>" * 1000)
    }

    // function envFormB(){
    //     setTimeout(function(){
    //         document.envExpBComp.submit();
    //     },5000)
    // }

</script>