<html>

<head>
    <title>EXP</title>
    <link rel="stylesheet" type="text/css" href="css/experimento.css">

</head>

<body style="overflow: hidden;">
    <audio id="som" preload="auto"  loop>
        <source src="../public/SomExperimento.mp3" type="audio/mpeg" >
     </audio>

    <div class="container">
        <form action='/envExpATeste' method='POST'>
            <button type="submit" onclick='clickA();playA()' class="botao" id="opA">A</button>
        </form>
    </div>

    <div class="container2">
        <form action='/envExpBTeste' method='POST'>
            <button type="submit" onclick='clickB();playB()' class="botao" id="opB">B</button>
        </form>
    </div>

    <!-- <form action='/envExpBComp' name="envExpBComp" method='POST'/> -->

</body>

</html>

<script type="text/javascript">
    var tempo = 0;
    function clickA() {
        console.log("opA");
        console.log(tempo);
        document.getElementById("opA").style.display  = "none";
        document.getElementById("opB").style.display  = "none";
        return apareceA();
    }
    function clickB(){
        console.log("opB");
        console.log(tempo);
        document.getElementById("opA").style.display  = "none";
        document.getElementById("opB").style.display  = "none";
        return apareceB();
    }
    function apareceA(){
        setTimeout(function(){  
            document.getElementById("opA").style.display  = "block";
        }, 5 * 1000)
    }
    function apareceB(){
        setTimeout(function(){
            document.getElementById("opB").style.display  = "block";
            // envFormB();
        }, ("<%= atrasoB %>"  * 1000) + (10 * 1000) )
    }

    function play(){
        var som = document.getElementById('som');
        som.play();
    }

    function playA(){
        setTimeout(function(){  
            play();
        }, 5 * 1000)
    }

    function playB(){
        setTimeout(function(){  
            play();
        }, "<%= atrasoB %>" * 1000)
    }


</script>