<title>Fim</title>
<link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
<div>
    
    <form action = '/' method='get'>

            
                <button type="submit"  class="info">Fim do experimento <br> Chame a experimentadora</button>
            
            
            
    </form>
</div>
</sript>
</body>