<html>
	<head>
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">

	</head>
	<body onload="random();">
		<div>
			
			<form action = '/intro' method='POST'>

				<button type="submit"  class="info"> <%= txt01 %> </button>
							
			</form>
		</div>
	</body>
	


</html>

