<html>
	<head>
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">

	</head>
	<body>
		<div>
			
			<form action = '/intro' method='POST'>

					
						<button type="submit"  class="info"> Toque na tela para começar o experimento </button>
					
					
					
			</form>
	</div>
	</sript>
    </body>
    </html>