<html>
	<head>
		<title>Intro</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">

	</head>
	<body>
		<div>
			
			<form action = '/expForc' method='GET'>

					
						<button type="submit"  class="info"> Após um certo tempo, um som começará a tocar.<br> Você poderá escolher retirar o som clicando no botão.<br> Se tiver alguma dúvida, chame a experimentadora.</button>
					
					
					
			</form>
	</div>
	</sript>
    </body>
    </html>

    