<html>
	<head>
		<title>Intro</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">

	</head>
	<body>
		<div>
			
			<form action = '/expForc' method='GET'>

					
						<button type="submit" class="info"> <%= txt02 %> </button>
					
					
					
			</form>
	</div>
	</sript>
    </body>
    </html>

    